{% load humanize %}
{% load widget_tweaks %}


<form action="{% url 'edit_comment' form.instance.hash %}" class="js-comment-edit-form" method="post" data-target="#comment-list ul">
  {% csrf_token %}
  <div class="card-content">
    <span class="card-title">
      <div class="input-field">
        {% render_field form.title class="form_input validate"|add_error_class:"invalid" %}
        <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
        <span class="helper-text">{{field.errors}}</span>
      </div>
    </span>
    <div class="secondary">
      <div class="input-field">
        {% render_field form.type%}
        <label for="{{ form.type.id_for_label }}">{{ form.type.label }}</label>
        <span class="helper-text">{{field.errors}}</span>
      </div>
    </div>
    <br>
    <div class="input-field">
      {% render_field form.text class="materialize-textarea validate"|add_error_class:"invalid" %}
      <label for="{{ form.text.id_for_label }}">{{ form.text.label }}</label>
      <span class="helper-text">{{field.errors}}</span>
    </div>
  </div>
  <div class="card-action">
    <button class="btn-flat">Submit Changes</button>
    <button type="button" class="js-comment-edit-close-btn btn-flat" data-target="#comment-list ul">Exit</button>
  </div>
</form>
