{% extends "base.html" %}

{% block css %}
<style media="screen">
  .collection-item.empty {
    text-align: center;
  }
  .modal-footer a:hover {
    color: #3f51b5;
  }
</style>
{% endblock css %}

{% block content %}
  <div id="form-modal" class="modal">
    <div class="modal-content">
      <h4>&times;</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla ab iusto, quo fuga eum voluptatibus reprehenderit, rerum cupiditate. Officia, at vero ratione repellendus saepe vitae, dolor debitis nisi facilis velit voluptatibus, hic fugit. Id commodi suscipit aliquid aut magnam quasi molestias, quas hic eligendi, non tenetur deserunt necessitatibus nam neque dicta nihil inventore sint exercitationem in dignissimos doloribus optio repellendus maiores tempore. Numquam ad minima assumenda, illo deleniti accusamus error nisi dolorem expedita at voluptatum magnam distinctio totam reiciendis sit velit est natus unde earum similique labore in ipsum! Maxime ex neque, quas reprehenderit ea iusto adipisci aliquam, enim accusantium.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="btn-flat">Submit</a>
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
  <div class="container row">
    <ul class="collection col s12" id="candidate-list">
      {% for candidate in candidates %}
        <li class="collection-item">
          <span class="title">{{candidate.name}}</span>
          <p>{{candidate.cid}}</p>
        </li>
      {% empty %}
        <li class="collection-item empty">
          <p>Looks like you have no candidates! Create a new candidate to begin.</p>
        </li>
      {% endfor %}
    </ul>
    <div class="fixed-action-btn" id="btn-create-form">
      <a class="btn-floating btn-large red" href="#form-modal">
        <i class="large material-icons">add</i>
      </a>
    </div>
  </div>
{% endblock content %}

{% block javascript %}
  <script type="text/javascript">
    $(function () {
      var elem= document.querySelector('.modal');
      var modal_instance = M.Modal.init(elem);
      $("#btn-create-form").click(function() {
        modal_instance.open()
        $(ajax)
      })
    });
  </script>
{% endblock javascript %}
