{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CMOD | Home</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  {% block css %}
    <style>
    .dropdown-content{
      width: max-content !important;
      height:auto !important;
    }
    .dropdown-content li p {
      color: #3f51b5;
      line-height: inherit;
      font-size: 18px;
      text-align: center;
    }
    .dropdown-content li:hover:first-child {
      background-color: white;
      cursor: default;
    }
    .dropdown-content li a {
      color: #3f51b5;
    }

    .collection-item.empty {
      text-align: center;
    }

    @media ( max-width: 767px ) {
      nav .brand-logo {left: 50%;}
      .hide-on-sm-and-down { display: none; }
    }
    </style>
  {% endblock css %}
</head>

<body>
  <ul id="accountDropdown" class="dropdown-content">
    <li><p><b>{{user.first_name}}</b></p></li>
    <li><a href="{% url 'password_change' %}"><i class="material-icons left">settings</i>Settings</a></li>
    <li><a href="{% url 'logout' %}"><i class="material-icons left">exit_to_app</i>Logout</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper indigo">
      <div class="container">
        <a href="/" class="brand-logo">CMOD</a>
        <ul class="right hide-on-sm-and-down">
          <li><a href="/">Overview</a></li>
          <li><a href="{% url 'all_candidates' %}">Candidates</a></li>
          <li><a href="badges.html">Reminders</a></li>
          <li><a class="dropdown-trigger" href="#" data-target="accountDropdown">Account<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="form-modal" class="modal">

  </div>
  {% block content %}

  {% endblock content %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  {% block javascript %}
  <script type="text/javascript">
    var modal_instance
  //generic function to load form by retrieving from data-url of attached element
    var loadForm = function() {
      $.ajax({
        url: $(this).attr("data-url"),
        method: 'get',
        datatype: 'json',
        success: function(data) {
          $("#form-modal").html(data.html_form)
          M.updateTextFields()
          modal_instance.open()
        }
      });
    }
    $(function () {
      var modal_elem= document.querySelector('.modal');
      modal_instance = M.Modal.init(modal_elem);
      var dropdown_elem = document.querySelectorAll('.dropdown-trigger')
      var dropdown_instance = M.Dropdown.init(dropdown_elem, {hover: true, beloworigin: true})
      $(".dropdown-trigger").hover(function(){
        $("#"+$(this).attr("data-target")).css({'top':'64px'})
      });
    });
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
          }
      }
    });

    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }

    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
  </script>
  {% endblock javascript %}

</body>
</html>
