{% extends "base.html" %}


{% block css %}
  {{ block.super }}
  <style>
    .d-none {
      display: none;
    }
    .d-block {
      display: block;
    }
    #search-dropdown {
      margin-left: 3rem;
    }
    #search-dropdown .active * {
      color: white;
    }
    @media screen and (min-width: 992px) {
      #sidebar {
        text-align: right;
      }
    }
  </style>
{% endblock css %}


{% block content %}
  <div class="container">
    <h3 class="display">Welcome, {{user.first_name}}</h3>
    <div class="row">
      <div class="col s12 l8">
        <div class="input-field">
          <i class="prefix material-icons">search</i>
          <input type="text" name="search" maxlength="20" class="autocomplete" id="search-bar"
          data-url="{% url 'search' %}" autocomplete="off" data-target="search-dropdown">
          <label for="search-bar">Search for a candidate</label>
          <span class="helper-text"></span>
        </div>
        <ul class="collection d-none" id="search-dropdown"></ul>
        <div class="section" id="recent-candidates">
          <h5>Recently Modified Candidates</h5>
          <div class="divider"></div>
          <ul class="collection">
            {% for candidate in candidates %}
            <li class="collection-item">
              <a href="{% url 'all_comments' candidate.cid %}" target="_blank">
                <span class="title">{{candidate.name}}</span>
                <p>{{candidate.cid}}</p>
              </a>
            </li>
            {% empty %}
              <li class="collection-item empty">
                <p>Looks like you have no candidates! Create a new candidate to begin.</p>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col l1"></div>
      <div class="col s12 l3" id="sidebar">
        <div class="row">
          <div class="col s12">
            <ul class="collection with-header">
              <li class="collection-header"><h5>Recent Documents</h5></li>
              {% for document in  recent_docs %}
                {# TODO: Add list elements for docs #}
              {% empty %}
                <li class="collection-item empty">Looks like you haven't added any documents!</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <ul class="collection with-header">
              <li class="collection-header"><h5>Upcoming Reminders</h5></li>
              {% for document in  recent_docs %}
                {# TODO: Add list elements for docs #}
              {% empty %}
                <li class="collection-item empty">Looks like you don't have any reminders which are upcoming!</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <p>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSfxQBi-9ID-RgHAnsTpGF1NKkKQ0qch_LBBqAvgigjjHqiHSw/viewform?usp=sf_link" target="_blank">
            Submit Feedback
          </a>
        </p>
      </div>
    </div>
  </div>
{% endblock content %}


{% block javascript %}
  {{ block.super }}
  <script type="text/javascript">
    $(function() {
      $("#search-bar").focus(function() {
        var elem = $(this);
        var search_request
        var current_ndx = null;
        var list_items
        console.log(current_ndx)
        elem.unbind("keyup").keyup(function(event){
          switch(event.which) {
            case 40:
              if(list_items) {
                list_items.each(function(index){
                  $(this).removeClass("active")
                })
                current_ndx = current_ndx == null ? 0 : (current_ndx < list_items.length-1 ? current_ndx+1 : 0)
                list_items.eq(current_ndx).addClass("active")
              }
              break

            case 38:
              if(list_items) {
                list_items.each(function(index){
                  $(this).removeClass("active")
                })
                current_ndx = current_ndx == null ? list_items.length-1 : (current_ndx > 0 ? current_ndx-1 : list_items.length-1)
                list_items.eq(current_ndx).addClass("active")
              }
              break

            case 13:
              if(list_items && current_ndx != null) {
                console.log(list_items.eq(current_ndx).children("a").attr('href'))
                var w = window.open(window.location.href.slice(0,-1)+list_items.eq(current_ndx).children("a").attr('href'))
              }
              break

            default:
              current_ndx = null
              if(search_request) {
                clearTimeout(search_request)
                search_request = null
              }
              var container = $("#"+elem.attr("data-target"))
              var search_term = $(this).val()
              console.log(event.which)
              if(search_term != ""){
                search_request = setTimeout(function () {
                  $.ajax({
                    url: elem.attr("data-url"),
                    data: {
                      search_term: search_term
                    },
                    method: 'get',
                    success: function(data) {
                      container.html(data.result)
                      container.removeClass("d-none")
                      container.addClass("d-block")
                      list_items = container.children("li")
                      // console.log(list_items);
                    }
                  })
                }, 300);
              }
              else {
                container.removeClass("d-block")
                container.addClass("d-none")
              }
              break
          }
        })
      })
      $("#search-bar").blur(function() {
        $("#search-dropdown").empty();
        $("#search-dropdown").addClass("d-none")
        $("#search-dropdown").removeClass("d-block")
      })
    });
  </script>
{% endblock javascript %}
