{% extends "base.html" %}

{% block css %}
{{ block.super }}
<style media="screen">
  .collection-item.empty {
    text-align: center;
  }
  .modal-footer a:hover {
    color: #3f51b5;
  }
  #form-modal .form_input {
    padding-left: 10px;
  }
  #candidate-list .secondary-content {
    padding-top: 15px;
  }

  #candidate-list p {
    color: grey;
  }
</style>
{% endblock css %}

{% block content %}
  <div id="form-modal" class="modal">

  </div>
  <div class="container row">
    <ul class="collection col s12" id="candidate-list">
      {% include "candidates/includes/candidate_list.html" %}
    </ul>
    <div class="fixed-action-btn" id="js-candidate-create-btn" data-url="{% url 'create_candidate' %}">
      <a class="btn-floating btn-large red" href="#form-modal">
        <i class="large material-icons">add</i>
      </a>
    </div>
  </div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript">
    $(function () {
      var modal_elem= document.querySelector('.modal');
      var modal_instance = M.Modal.init(modal_elem);
      //generic function to load candidate form
      var loadCandidateForm = function() {
        $.ajax({
          url: $(this).attr("data-url"),
          method: 'get',
          datatype: 'json',
          success: function(data) {
            $("#form-modal").html(data.html_form)
            M.updateTextFields()
            modal_instance.open()
          }
        });
      }
      $(".js-candidate-create-btn").click(loadCandidateForm); //bind Create Candidate form to button
      $(".js-candidate-edit-btn").click(loadCandidateForm); //bind Edit Candidate form to button
      $("#form-modal").on('submit', "#js-candidate-create-form", function(event) {
        event.preventDefault();
        var form =  $(this)
        $.ajax({
          url: form.attr('action'),
          method: form.attr('method'),
          datatype: 'json',
          data: form.serialize(),
          success: function(data) {
            if(data.is_valid) {
              $("#candidate-list").html(data.html_candidate_list)
              modal_instance.close()
            }
            else {
              $("#form-modal").html(data.html_form)
            }
          }
        }); //End Ajax call
      });
    });
  </script>
{% endblock javascript %}
