{% extends "base.html" %}

{% block css %}
{{ block.super }}
<style media="screen">

  .modal-content h4 {
    text-align: center;
  }
  .modal-footer a:hover {
    color: #3f51b5;
  }
  .errorlist {
    color: red;
    margin-top: 0px;
  }

  .secondary-content {
    cursor: pointer;
  }

  #form-modal .form_input, .errorlist {
    padding-left: 10px;
  }
  #candidate-list .secondary-content {
    padding-top: 15px;
  }

  #candidate-list p {
    color: grey;
  }
</style>
{% endblock css %}

{% block content %}
  <div class="container row">
    <h3>All Candidates</h3>
    <ul class="collection col s12 l8" id="candidate-list">
      {% include "candidates/includes/candidate_list.html" %}
    </ul>
  </div>
  <div class="fixed-action-btn js-candidate-create-btn" data-url="{% url 'create_candidate' %}">
    <a class="btn-floating btn-large red" href="#form-modal">
      <i class="large material-icons">add</i>
    </a>
  </div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript">
    $(function () {
      $(".js-candidate-create-btn").click(loadForm); //bind Create Candidate form to button
      $("#candidate-list").on("click", ".js-candidate-edit-btn", loadForm); //bind Edit Candidate form to button
      $("#candidate-list").on("click", ".js-candidate-delete-btn", loadForm); //bind Delete Candidate form to button
      $("#form-modal").on('submit', ".js-candidate-form", function(event) {
        event.preventDefault();
        var form =  $(this)
        $.ajax({
          url: form.attr('action'),
          method: form.attr('method'),
          datatype: 'json',
          data: form.serialize(),
          success: function(data) {
            if(data.is_valid) {
              $("#candidate-list").html(data.html_candidate_list)
              modal_instance.close()
            }
            else {
              $("#form-modal").html(data.html_form)
              M.updateTextFields()
            }
          }
        }); //End Ajax call
      });
      $("#form-modal").on("submit", ".js-candidate-delete-dialog", function(event) {
        event.preventDefault();
        var dialog = $(this)
        $.ajax({
          url: dialog.attr('action'),
          method: dialog.attr('method'),
          datatype: 'json',
          success: function(data) {
            if(data.deleted) {
              $("#candidate-list").html(data.html_candidate_list)
            }
            else {
              alert("Some error occurred. Please try again.")
            }
            modal_instance.close()
          }
        })
      })
    });
  </script>
{% endblock javascript %}
