{% extends "base.html" %}

{% load humanize %}

{% block css %}
  {{block.super}}
  <style media="screen">
    .container .title small {
      color: grey;
    }

    #comment-list .secondary {
      color:grey;
    }
    #comment-list .card-action button {
      color: #3f51b5;
    }
    #comment-list .card-title {
      font-weight: bold;
    }
  </style>
{% endblock css %}

{% block content %}
  <div class="container">
    <h3 class="title">
      {{candidate.name}} <br>
      <small>#{{candidate.cid}}</small>
    </h3>
    <h5 class="designation">
      Designation: {{candidate.designation}}
    </h5>

    <div class="row">
      <ul class="collection col s12 l9 offset-l3" id="comment-list">
        {% include "comments/includes/comment_list.html" %}
      </ul>
    </div>

    <div class="fixed-action-btn js-comment-create-btn" data-url="{% url 'create_comment' candidate.cid %}">
      <a class="btn-floating btn-large red" href="#form-modal">
        <i class="large material-icons">add</i>
      </a>
    </div>
  </div>
{% endblock content %}

{% block javascript %}
  {{block.super}}
{% endblock javascript%}
