{% for candidate in candidates %}
  <a href="{% url 'candidate_comments' candidate.cid %}">
    <li class="collection-item">
      <span class="title">{{candidate.name}}</span>
      <a class="secondary-content js-candidate-delete-btn" data-url="{% url 'delete_candidate' candidate.cid %}" data-form-target="#form-modal">
        <i class="material-icons">delete</i>
      </a>
      &nbsp;
      <a onclick='alert("Coming Soon")' class="secondary-content">
        <i class="material-icons">star</i>
      </a>
      &nbsp;
      <a class="secondary-content js-candidate-edit-btn" data-url="{% url 'edit_candidate' candidate.cid %}" data-form-target="#form-modal">
        <i class="material-icons">edit</i>
      </a>
      <p>{{candidate.cid}}</p>
    </li>
  </a>
{% empty %}
  <li class="collection-item empty">
    <p>Looks like you have no candidates! Create a new candidate to begin.</p>
  </li>
{% endfor %}
