{% for candidate in candidates %}
  <li class="collection-item">
      <span class="title">{{candidate.name}}</span>
      <a href="" class="secondary-content js-candidate-edit">
        <i class="material-icons">delete</i>
      </a>
      &nbsp;
      <a onclick='alert("Coming Soon")' class="secondary-content">
        <i class="material-icons">star</i>
      </a>
      &nbsp;
      <a href="" class="secondary-content">
        <i class="material-icons">edit</i>
      </a>
      <p>{{candidate.cid}}</p>
  </li>
{% empty %}
  <li class="collection-item empty">
    <p>Looks like you have no candidates! Create a new candidate to begin.</p>
  </li>
{% endfor %}
