{% load widget_tweaks %}

<form action="{% url 'create_candidate' %}" id="create-candidate-form" method="post">
  <div class="modal-content">
    <h4>Create Candidate</h4>
    {% for field in form %}
      <div class="input-field col s12">
        {# <input id ="name" type="text" class="validate {% if field.errors %}invalid{% endif %}"> #}
        {% render_field  field class="form_input validate"|add_error_class:"invalid" %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {# <span class="helper-text" data-error="wrong">Helper text</span> #}
      </div>
    {% endfor %}
  </div>
  <div class="modal-footer">
    <input type="submit" class="btn-flat submit">
    <a class="modal-close btn-flat">Close</a>
  </div>
</form>
